.dashDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    margin:1em;
    width: 10%;
    height: 10%;
}

.innerDisplay {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.innerDisplay button {
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.3s ease;
}

.innerDisplay button:hover {
    color: #4158D0;
}

.innerButton {
    margin: 1em;
    margin-top: 2.5em;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
    width:150px;
    height:40px;
}

.innerButton:hover {
    background-color: #4158D0;
    background-image: linear-gradient(53deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: white;
}

.innerButton:active {
    background-color: white;
}

.innerButton:focus {
    outline: 2px solid white;
}